In [24]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn import datasets
from sklearn.model_selection import train_test_split
import seaborn as sns
from sklearn import metrics
import matplotlib.pyplot as plt
from sklearn.metrics import classification_report 
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

In [25]:
df = pd.read_csv('C:\\Users\\91901\\Downloads\\HRDataset_v14.csv')
df.head()

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,...,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,...,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2

In [26]:
df.isna().sum()

Employee_Name                   0
EmpID                           0
MarriedID                       0
MaritalStatusID                 0
GenderID                        0
EmpStatusID                     0
DeptID                          0
PerfScoreID                     0
FromDiversityJobFairID          0
Salary                          0
Termd                           0
PositionID                      0
Position                        0
State                           0
Zip                             0
DOB                             0
Sex                             0
MaritalDesc                     0
CitizenDesc                     0
HispanicLatino                  0
RaceDesc                        0
DateofHire                      0
DateofTermination             207
TermReason                      0
EmploymentStatus                0
Department                      0
ManagerName                     0
ManagerID                       8
RecruitmentSource               0
PerformanceScore                0
EngagementSurvey                0
EmpSatisfaction                 0
SpecialProjectsCount            0
LastPerformanceReview_Date      0
DaysLateLast30                  0
Absences                        0
dtype: int64

In [27]:
df.pop('DateofTermination')
df.pop('ManagerID')
df.columns

Index(['Employee_Name', 'EmpID', 'MarriedID', 'MaritalStatusID', 'GenderID',
       'EmpStatusID', 'DeptID', 'PerfScoreID', 'FromDiversityJobFairID',
       'Salary', 'Termd', 'PositionID', 'Position', 'State', 'Zip', 'DOB',
       'Sex', 'MaritalDesc', 'CitizenDesc', 'HispanicLatino', 'RaceDesc',
       'DateofHire', 'TermReason', 'EmploymentStatus', 'Department',
       'ManagerName', 'RecruitmentSource', 'PerformanceScore',
       'EngagementSurvey', 'EmpSatisfaction', 'SpecialProjectsCount',
       'LastPerformanceReview_Date', 'DaysLateLast30', 'Absences'],
      dtype='object')

In [28]:
df.describe()

,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Zip,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,DaysLateLast30,Absences
count,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000
mean,10156.000000,0.398714,0.810289,0.434084,2.392283,4.610932,2.977492,0.093248,69020.684887,0.334405,16.845659,6555.482315,4.110000,3.890675,1.218650,0.414791,10.237942
std,89.922189,0.490423,0.943239,0.496435,1.794383,1.083487,0.587072,0.291248,25156.636930,0.472542,6.223419,16908.396884,0.789938,0.909241,2.349421,1.294519,5.852596
min,10001.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,45046.000000,0.000000,1.000000,1013.000000,1.120000,1.000000,0.000000,0.000000,1.000000
25%,10078.500000,0.000000,0.000000,0.000000,1.000000,5.000000,3.000000,0.000000,55501.500000,0.000000,18.000000,1901.500000,3.690000,3.000000,0.000000,0.000000,5.000000
50%,10156.000000,0.000000,1.000000,0.000000,1.000000,5.000000,3.000000,0.000000,62810.000000,0.000000,19.000000,2132.000000,4.280000,4.000000,0.000000,0.000000,10.000000
75%,10233.500000,1.000000,1.000000,1.000000,5.000000,5.000000,3.000000,0.000000,72036.000000,1.000000,20.000000,2355.000000,4.700000,5.000000,0.000000,0.000000,15.000000
max,10311.000000,1.000000,4.000000,1.000000,5.000000,6.000000,4.000000,1.000000,250000.000000,1.000000,30.000000,98052.000000,5.000000,5.000000,8.000000,6.000000,20.000000

In [29]:
target = df.pop('Salary')
df.head()
target.head()

0     62506
1    104437
2     64955
3     64991
4     50825
Name: Salary, dtype: int64

In [30]:
char_cols = df.dtypes.pipe(lambda x: x[x== 'object']).index
label_mapping = {}

for c in char_cols:
    df[c], label_mapping[c] = pd.factorize(df[c])

In [31]:
df = df.drop(columns=['DaysLateLast30'])
df = df.drop(columns=['Employee_Name'])
df.head()

,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Termd,PositionID,...,EmploymentStatus,Department,ManagerName,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,Absences
0,10026,0,0,1,1,5,4,0,0,19,...,0,0,0,0,0,4.60,5,0,0,1
1,10084,1,1,1,5,3,3,0,1,27,...,1,1,1,1,1,4.96,3,6,1,17
2,10196,1,1,0,5,5,3,0,1,20,...,1,0,2,0,1,3.02,3,0,2,3
3,10088,1,1,0,1,5,3,0,0,19,...,0,0,3,1,1,4.84,5,0,3,15
4,10069,0,2,0,5,5,3,0,1,19,...,1,0,4,2,1,5.00,4,0,4,2

In [32]:
df.head()
df.isna().sum()

EmpID                         0
MarriedID                     0
MaritalStatusID               0
GenderID                      0
EmpStatusID                   0
DeptID                        0
PerfScoreID                   0
FromDiversityJobFairID        0
Termd                         0
PositionID                    0
Position                      0
State                         0
Zip                           0
DOB                           0
Sex                           0
MaritalDesc                   0
CitizenDesc                   0
HispanicLatino                0
RaceDesc                      0
DateofHire                    0
TermReason                    0
EmploymentStatus              0
Department                    0
ManagerName                   0
RecruitmentSource             0
PerformanceScore              0
EngagementSurvey              0
EmpSatisfaction               0
SpecialProjectsCount          0
LastPerformanceReview_Date    0
Absences                      0
dtype: int64

##### from sklearn.preprocessing import StandardScaler


df = StandardScaler().fit_transform(df.values)

#split the data

x_train , x_test, y_train , y_test = train_test_split(df, target,test_size=0.50, shuffle=True)

clf = LogisticRegression().fit(x_train,y_train)
pred = clf.predict(x_test)
print('training complete')

In [33]:
from sklearn.preprocessing import StandardScaler
df = StandardScaler().fit_transform(df.values)

#split the data

x_train , x_test, y_train , y_test = train_test_split(df, target,test_size=0.2, shuffle=True)

clf = LogisticRegression().fit(x_train,y_train) 
pred = clf.predict(x_test)
print('training complete')
print(classification_report(y_test, pred))

training complete
              precision    recall  f1-score   support

       45046       0.00      0.00      0.00       1.0
       45069       0.00      0.00      0.00       0.0
       45115       0.00      0.00      0.00       1.0
       45395       0.00      0.00      0.00       1.0
       46428       0.00      0.00      0.00       1.0
       46654       0.00      0.00      0.00       0.0
       46799       0.00      0.00      0.00       1.0
       46837       0.00      0.00      0.00       0.0
       46998       0.00      0.00      0.00       1.0
       47001       0.00      0.00      0.00       0.0
       47211       0.00      0.00      0.00       0.0
       47414       0.00      0.00      0.00       1.0
       47750       0.00      0.00      0.00       1.0
       47837       0.00      0.00      0.00       0.0
       47961       0.00      0.00      0.00       0.0
       48285       0.00      0.00      0.00       0.0
       48413       0.00      0.00      0.00       1.0
       49256       0.00      0.00      0.00       0.0
       50178       0.00      0.00      0.00       0.0
       50482       0.00      0.00      0.00       0.0
       50750       0.00      0.00      0.00       1.0
       50825       0.00      0.00      0.00       0.0
       50923       0.00      0.00      0.00       1.0
       51259       0.00      0.00      0.00       1.0
       52057       0.00      0.00      0.00       0.0
       52177       0.00      0.00      0.00       1.0
       52505       0.00      0.00      0.00       1.0
       52788       0.00      0.00      0.00       1.0
       52984       0.00      0.00      0.00       1.0
       53018       0.00      0.00      0.00       1.0
       53180       0.00      0.00      0.00       0.0
       53250       0.00      0.00      0.00       0.0
       53492       0.00      0.00      0.00       0.0
       54005       0.00      0.00      0.00       0.0
       54237       0.00      0.00      0.00       0.0
       54670       0.00      0.00      0.00       1.0
       54828       0.00      0.00      0.00       0.0
       55140       0.00      0.00      0.00       1.0
       55315       0.00      0.00      0.00       1.0
       55688       0.00      0.00      0.00       0.0
       55965       0.00      0.00      0.00       1.0
       56149       0.00      0.00      0.00       0.0
       57575       0.00      0.00      0.00       1.0
       57815       0.00      0.00      0.00       0.0
       58371       0.00      0.00      0.00       1.0
       59026       0.00      0.00      0.00       1.0
       59238       0.00      0.00      0.00       1.0
       59365       0.00      0.00      0.00       1.0
       59472       0.00      0.00      0.00       1.0
       59728       0.00      0.00      0.00       1.0
       59892       0.00      0.00      0.00       0.0
       60120       0.00      0.00      0.00       0.0
       60380       0.00      0.00      0.00       0.0
       60436       0.00      0.00      0.00       0.0
       60627       0.00      0.00      0.00       0.0
       60656       0.00      0.00      0.00       0.0
       61154       0.00      0.00      0.00       1.0
       61242       0.00      0.00      0.00       0.0
       61349       0.00      0.00      0.00       0.0
       61555       0.00      0.00      0.00       1.0
       61584       0.00      0.00      0.00       1.0
       61656       0.00      0.00      0.00       1.0
       61729       0.00      0.00      0.00       0.0
       62162       0.00      0.00      0.00       1.0
       62514       0.00      0.00      0.00       1.0
       62659       0.00      0.00      0.00       0.0
       62810       0.00      0.00      0.00       1.0
       63000       0.00      0.00      0.00       1.0
       63108       0.00      0.00      0.00       0.0
       63353       0.00      0.00      0.00       1.0
       63430       0.00      0.00      0.00       1.0
       63450       0.00      0.00      0.00       1.0
       63478       0.00      0.00      0.00       1.0
       63676       0.00      0.00      0.00       0.0
       63763       0.00      0.00      0.00       0.0
       63813       0.00      0.00      0.00       0.0
       63878       0.00      0.00      0.00       1.0
       64375       0.00      0.00      0.00       1.0
       64397       0.00      0.00      0.00       0.0
       64786       0.00      0.00      0.00       1.0
       64816       0.00      0.00      0.00       0.0
       64971       0.00      0.00      0.00       0.0
       65310       0.00      0.00      0.00       0.0
       65729       0.00      0.00      0.00       1.0
       65893       0.00      0.00      0.00       1.0
       65902       0.00      0.00      0.00       1.0
       66738       0.00      0.00      0.00       0.0
       68099       0.00      0.00      0.00       1.0
       68182       0.00      0.00      0.00       0.0
       70187       0.00      0.00      0.00       1.0
       70468       0.00      0.00      0.00       1.0
       70545       0.00      0.00      0.00       1.0
       70621       0.00      0.00      0.00       0.0
       71860       0.00      0.00      0.00       0.0
       72202       0.00      0.00      0.00       0.0
       74226       0.00      0.00      0.00       0.0
       74312       0.00      0.00      0.00       0.0
       74417       0.00      0.00      0.00       1.0
       74813       0.00      0.00      0.00       0.0
       75188       0.00      0.00      0.00       1.0
       80512       0.00      0.00      0.00       1.0
       82758       0.00      0.00      0.00       0.0
       83082       0.00      0.00      0.00       1.0
       85028       0.00      0.00      0.00       1.0
       86214       0.00      0.00      0.00       0.0
       89883       0.00      0.00      0.00       1.0
       92329       0.00      0.00      0.00       0.0
       93206       0.00      0.00      0.00       1.0
       95660       0.00      0.00      0.00       1.0
       96820       0.00      0.00      0.00       0.0
       99020       0.00      0.00      0.00       0.0
      101199       0.00      0.00      0.00       1.0
      105688       0.00      0.00      0.00       0.0
      105700       0.00      0.00      0.00       1.0
      110000       0.00      0.00      0.00       1.0
      114800       0.00      0.00      0.00       0.0
      140920       0.00      0.00      0.00       1.0
      180000       0.00      0.00      0.00       1.0

    accuracy                           0.00      63.0
   macro avg       0.00      0.00      0.00      63.0
weighted avg       0.00      0.00      0.00      63.0

C:\Users\91901\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\91901\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\91901\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\91901\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\91901\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\91901\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))